<%- layout('base.ejs') %>
<% block('title', '<title>О компании / Art of cinema promotion</title>') -%>
<% block('header_tabs', 
'<div onClick="javascript:window.location.href=\'/\'">Главная</div>' + 
'<div onClick="javascript:window.location.href=\'/films\'">Кинофонд</div>' + 
'<div onClick="javascript:window.location.href=\'/services\'">Сотрудничество</div>' +
'<div onClick="javascript:window.location.href=\'/news\'">Проекты</div>' +
'<div onClick="javascript:window.location.href=\'/contacts\'">Контакты</div>') -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/about-contacts.css">

<div class="side margin col-xs-6 col-sm-5 col-md-4 col-lg-3">
	<div class="tops">
		<p class="name">Любаев Олег Вячеславович</p>
		<p class="type">Генеральный директор</p>
	</div>
	<div class="tops">
		<p class="name">Стратиевский Александр Ефимович</p>
		<p class="type">Заместитель генерального директора</p>
	</div>
	<div class="tops">
		<p class="name">Зеленова Наталья Николаевна</p>
		<p class="type">PR директор</p>
	</div>
	<div class="tops">
		<p class="name">Шумаева Анастасия Викторовна</p>
		<p class="type">Линейный продюссер</p>
	</div>
	<div class="tops">
		<p class="name">Алтунин Петр</p>
		<p class="type">Линейный продюссер</p>
	</div>
	<div class="tops">
		<p class="name">Вечерин Константин Алексеевич</p>
		<p class="type">Директор пост-продакшн</p>
	</div>
</div>
<div class="margin col-xs-6 col-sm-7 col-md-8 col-lg-9">
	<legend>
		Продюссерский центр "Art of cinema promotion"
	</legend>

	<p>Продюсерский центр «Art of cinema promotion», созданный в 2006 году, — многофункциональное предприятие, которое за время своего существования стало одним из ведущих в области создания и продвижения отечественного кино и накопило богатый опыт в таких направлениях, как: </p>
	<ul>
		<li>Производство телепередач;</li>
		<li>кинопроизводство — съемка художественных фильмов, документального кино;</li>
		<li>производство рекламы и видеоклипов;</li>
		<li>съемки анимационных фильмов;</li>
		<li>полный цикл производства dvd и Blu-ray дисков;</li>
		<li>реставрация кинокартин;</li>
		<li>полный цикл производства 3D кино- и видеокартин;</li>
		<li>дистрибуция и продвижения кино- и видеопродукции на российском и зарубежном рынках.</li>
	</ul>
	<p>Быстрый и успешный старт во многом зависел от профессиональной команды, которая постоянно развивалась и каждый день претворяла в жизнь новые интересные идеи, благодаря чему наш Продюсерский центр заслужил репутацию надежного и авторитетного партнера.</p>

	<legend>
	Наша команда
	</legend>
	<p>Команда Продюсерского центра “Искусство продвижения кино” включает: </p>
	<ul>
		<li>Отдел компьютерной графики и визуальных эффектов;</li>
		<li>постпродакшн-студию;</li>
		<li>звуковой комплекс;</li>
		<li>специализированный транспортный цех;</li>
		<li>осветительный цех.</li>

	</ul>
	<p>У нас работают на постоянной основе: режиссеры-постановщики, художники, операторы, звукооператоры, звукооформители, режиссеры монтажа, специалисты по 3D-моделированию, инженерно-технические работники, стилисты-гримеры и специалисты других кинопрофессий — как опытные мастера, посвятившие кинематографу много лет, так и талантливая молодежь. Слаженная команда профессионалов готова к производству кино- и телефильмов любой сложности!</p>
</div>