<%- layout('base.ejs') %>
<% block('title', '<title>О компании / Искусство продвижения кино</title>') -%>
<% block('header_tabs', 
'<div onClick="javascript:window.location.href=\'/\'">Главная</div>' + 
'<div onClick="javascript:window.location.href=\'/films\'">Фильмы</div>' + 
'<div onClick="javascript:window.location.href=\'/services\'">Услуги</div>' +
'<div onClick="javascript:window.location.href=\'/news\'">Новости</div>' +
'<div onClick="javascript:window.location.href=\'/contacts\'">Контакты</div>') -%>
<link rel="stylesheet" type="text/css" href="/stylesheets/about-contacts.css">

<div class="side margin col-xs-6 col-sm-5 col-md-4 col-lg-3">
	<div class="tops">
		<p class="name">Любаев Олег Вячеславович</p>
		<p class="type">Генеральный директор</p>
	</div>
	<div class="tops">
		<p class="name">Шумаева Анастасия Викторовна </p>
		<p class="type">Линейный продюссер </p>
	</div>
</div>
<div class="margin col-xs-6 col-sm-7 col-md-8 col-lg-9">
	<legend>
		Продюссерский центр "Искусство продвижения кино"
	</legend>

	<p>Продюсерский центр «Искусство продвижения кино» создан в 2006 году. Год от года, в процессе творческих исканий, мы становимся опытнее, сильнее и креативнее.</p>
	<p>У нас накоплен большой опыт работы в следующих направлениях:</p>
	<ul>
		<li>Производство телепередач</li>
		<li>Кинопроизводство. Съемка художественных фильмов, документального кино.</li>
		<li>Производство рекламы и видеоклипов</li>
		<li>Съемки анимационных фильмов</li>
		<li>Полный цикл производства dvd и blu-ray дисков</li>
		<li>Реставрация кинокартин</li>
		<li>Полный цикл производства 3D кино/видеокартин</li>
		<li>Дистрибуция и продвижения кино и видеопродукции на российском и зарубежном рынках.</li>
	</ul>
	<p>Все работы выполняются исключительно профессионалами, на высоком уровне, благодаря чему наш продюсерский центр заслужил репутацию надежного и авторитетного партнера.</p>

	<legend>
	Наша команда
	</legend>
	<p>Команда Продюсерского центра “Искусство продвижения кино” включает: </p>
	<ul>
		<li>Отдел компьютерной графики и визуальных эффектов </li>
		<li>Постпродакшн студия </li>
		<li>Звуковой комплекс </li>
		<li>Специализированный транспортный цех. </li>
		<li>Осветительный цех </li>
	</ul>
	<p>У нас работают на постоянной основе:  режиссёры-постановщики, художники, операторы, звукооператоры, звукооформители, режиссеры монтажа, специалисты по 3D моделированию, инженерно-технические работники, стилисты-гримёры и многие другие.  На нашей студии трудятся и опытные специалисты, посвятившие кинематографу много лет, а также талантливая молодежь. Слаженная команда профессионалов готова к производству кино- и телефильмов любой сложности!</p>
</div>