<%- layout('base.ejs') %>
<% block('title', '<title>Фильмы / Искусство продвижения кино</title>') -%>
<% block('header_tabs', 
'<div onClick="javascript:window.location.href=\'/\'">Главная</div>' + 
'<div onClick="javascript:window.location.href=\'/services\'">Сотрудничество</div>' +
'<div onClick="javascript:window.location.href=\'/news\'">Новости</div>' +
'<div onClick="javascript:window.location.href=\'/company\'">О компании</div>' +
'<div onClick="javascript:window.location.href=\'/contacts\'">Контакты</div>') -%>

<script type="text/javascript" src="/javascripts/controllers/filmsCtrl.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/films.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">

<div class="content" ng-controller="filmsCtrl" ng-init="init()">
	<div class="film-type-tabs">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
			 ng-click="setSelectedFilm('all')" 
			 ng-class="{ 'selected-film' : selectedFilmType==='all'}">Все фильмы</div>
		<div class="col-xs-4 col-sm-4 col-md-2 col-lg-2" 
			 ng-click="setSelectedFilm(k)" 
			 ng-repeat="(k,v) in filmTypes"
			 ng-class="{ 'selected-film' : selectedFilmType===k}">{{ v }}</div>
	</div>

	<div class="film" 
		 ng-repeat="film in films">
		<div class="m title" ng-bind="film.title"></div>
		<div class="col-xs-12 col-sm-6 col-md-7 col-lg-7 iframe-container">
			<iframe ng-src="{{frameSrc(film.film_url)}}" width="100%" height="100%" frameborder allowfullscreen></iframe>
		</div>
		<div class="col-xs-0 col-sm-6 col-md-5 col-lg-5 info-container">
			<div class="title" ng-bind="film.title"></div>
			<div ng-show="film.genre" class="genre">Жанр: {{ selectOptions[film.genre] }}</div>
			<span ng-show="film.time" class="time">Продолжительность: {{ film.time }}</span>
			<!-- <span class="year" >Год выпуска: {{film.year }} </span> -->
			<div ng-show="film.synopsis" class="synopsis">{{ film.synopsis | cut:true:cutNumber:'...'}}</div>

		</div>



	</div>
</div>

