<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">

<header>
	<div class="logo">
		<p>ART OF</p>
		<p>CINEMA</p>
		<p>PROMOTION</p>
	</div>
	<div class="tabs">
		<%-blocks.header_tabs%>
	</div>
	<div class="contact"><i class="fa fa-phone"></i> +7(495) 665-48-37
		<a href="/admin">adm</a>
	</div>


</header>