<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">

<header>
	<div class="logo">
		<p>Искусство</p>
		<p>продвижения</p>
		<p>кино</p>
	</div>
	<div class="tabs">
		<div>Фильмы</div>
		<div>Услуги</div>
		<div>Новости</div>
		<div>О компании</div>
		<div>Контакты</div>
	</div>

</header>