<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">

<header>
	<div class="logo">
		<p>ART OF</p>
		<p>CINEMA</p>
		<p>PROMOTION</p>
	</div>
	<div class="tabs">
		<div onClick="javascript:window.location.href='/films'">Фильмы</div>
		<div onClick="javascript:window.location.href='/services'">Услуги</div>
		<div onClick="javascript:window.location.href='/news'">Новости</div>
		<div onClick="javascript:window.location.href='/company'">О компании</div>
		<div onClick="javascript:window.location.href='/contacts'">Контакты</div>
	</div>
	<div class="contact"><i class="fa fa-phone"></i> +7(495) 665-48-37
		<a href="/admin">adm</a>
		<%-blocks.headermin%>
	</div>


</header>