<% layout('base.ejs') %>
<% block('title', '<title>Главная / Art of cinema promotion</title>') -%>
<% block('header_tabs', 
'<div onClick="javascript:window.location.href=\'/films\'">Кинофонд</div>' + 
'<div onClick="javascript:window.location.href=\'/services\'">Сотрудничество</div>' +
'<div onClick="javascript:window.location.href=\'/news\'">Проекты</div>' +
'<div onClick="javascript:window.location.href=\'/company\'">О компании</div>' +
'<div onClick="javascript:window.location.href=\'/contacts\'">Контакты</div>') -%>

<script type="text/javascript" src="/javascripts/controllers/indexCtrl.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/animate.css">

<div class="content" ng-controller="indexCtrl" ng-init="init()">
	<div class="last-event-container" ng-if="last_new">
		<div class="fa fa-bullhorn"></div>
		<div>
			<div class="title" ng-bind="last_new.title"></div>
			<div class="text" ng-bind="last_new.description"></div>
		</div>
		<!-- <div class="date">Опубликовано: 28.11.1989</div> -->
	</div>
	<div class="films-container">
		<div class="animate-film film col-xs-12 col-sm-6 col-md-4 col-lg-3 animated bounceIn"
		     style="-webkit-animation-delay: .{{ $index+1 }}s; animation-delay: .{{ $index+1 }}s;" 
			 ng-repeat="film in films">
			<div class="film-inner">
				<a href="/film/{{film._id}}">
					<div class="photo" 
						 style="background-image:url('{{ film.picture_url}}')"></div>
					<div class="title">
						<div class="border5"></div>
						{{ film.title }}
					</div>
				</a>
			</div>
		</div>
	</div>
</div>	