<!doctype html>
<html lang="en">
<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400,800,600&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/libs/font-awesome-4.0.3/css/font-awesome.min.css">
	<meta charset="UTF-8">
	<title></title>
</head>
<body>
	<div class="container">
		<div class="center">
			<div class="picture fa fa-pause"></div>
			<div class="title">Работа сайта остановлена</div>
			<div class="description">Функциональность сайта будет возобновлена после выполнения условий договора со стороны заказчика.</div>
		</div>
	</div>

	<style>
		body, 
		html,
		.container {
			width: 100%;
			height: 100%;
			padding: 0;
			margin: 0;
			position: relative;
			font-family: "Open Sans";
			text-align: center;
		}
		.center {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			width: 500px;
			height: 300px;
		}
		.picture {
			font-size: 150px;
		}
		.title {
			font-size: 32px;
			font-weight: 800;
		}
		.description {
			font-size: 18px;
			font-weight: 600;
			padding: 5px 20px;
		}
	</style>
	
</body>
</html>