<%- layout('base.ejs') %>
<% block('title', '<title>Услуги / Искусство продвижения кино</title>') -%>
<% block('header_tabs', 
'<div onClick="javascript:window.location.href=\'/\'">Главная</div>' +
'<div onClick="javascript:window.location.href=\'/films\'">Фильмы</div>' + 
'<div onClick="javascript:window.location.href=\'/news\'">Новости</div>' +
'<div onClick="javascript:window.location.href=\'/company\'">О компании</div>' +
'<div onClick="javascript:window.location.href=\'/contacts\'">Контакты</div>') -%>

<link rel="stylesheet" type="text/css" href="/stylesheets/about-contacts.css">
<link rel="stylesheet" type="text/css" href="/stylesheets/services.css">

<legend>Наша компания предлагает:</legend>

<!-- <div class="elem">
	<div class="icon"> <span class="fa fa-film"></span></div>
	<div class="text" ><span>Производство художественных, документальных, короткометражных фильмов и телесериалов.</span></div>
</div>
<div class="elem">
	<div class="icon"> <span class="fa fa-microphone"></span>
	</div>
	<div class="text" ><span>Производство рекламных роликов и видеоклипов.</span></div>
</div>
<div class="elem">
	<div class="icon"> <span class="fa fa-book"></span>
	</div>
	<div class="text" ><span> Производство корпоративных фильмов. 
Всегда интересно и полезно зафиксировать этапы становления компании и ценный опыт, который привел к успеху, не только на фото, но и в доступной красивой форме видеофильма. Любое направление деятельности вашей компании имеет право быть сюжетом для кино. Фильм расскажет историю развития предприятия — от истоков его основания, через пережитые трудности и взлеты, поражения и победы, вплоть до настоящего времени, а также поведает о достижениях и планах на будущее. Корпоративный фильм может быть снят для различной целевой аудитории (партнеры, персонал, потребители) и в зависимости от типа видео выполнит различные функции (информационно-презентационную, обучающую, мотивирующую и т.д.).</span></div>
</div>
<div class="elem">
	<div class="icon"> <span class="fa fa-users"></span>
	</div>
	<div class="text" ><span>Вы можете заказать производство фильма о себе или конкретном человеке, о вашей семье, о своем городе, о рабочем коллективе.
Жанры: документальный биографический фильм — от 26 минут, фильм-портрет — до 26 минут, фильм-поздравление к юбилею или дню рождения — до 12 минут (срок изготовления фильма-поздравления от трех дней).</span></div>
</div>
<div class="elem">
	<div class="icon"> <span class="fa fa-money"></span>
	</div>
	<div class="text"><span>Разработка бизнес плана для инвесторов</span></div>
</div> -->
<ol>
	<li><b>Производство художественных, документальных, короткометражных фильмов и телесериалов.</b></li>
	<li><b>Производство рекламных роликов и видеоклипов.</b></li>
	<li><b>Производство корпоративных фильмов.</b>
	<p>Всегда интересно и полезно зафиксировать этапы становления компании и ценный опыт, который привел к успеху, не только на фото, но и в доступной красивой форме видеофильма. Любое направление деятельности вашей компании имеет право быть сюжетом для кино. Фильм расскажет историю развития предприятия — от истоков его основания, через пережитые трудности и взлеты, поражения и победы, вплоть до настоящего времени, а также поведает о достижениях и планах на будущее. Корпоративный фильм может быть снят для различной целевой аудитории (партнеры, персонал, потребители) и в зависимости от типа видео выполнит различные функции (информационно-презентационную, обучающую, мотивирующую и т.д.).</p></li>
	<li><b>Вы можете заказать производство фильма о себе или конкретном человеке, о вашей семье, о своем городе, о рабочем коллективе.</b>
	<p>Жанры: документальный биографический фильм — от 26 минут, фильм-портрет — до 26 минут, фильм-поздравление к юбилею или дню рождения — до 12 минут (срок изготовления фильма-поздравления от трех дней).</p></li>
	<li><b>Прием заявок на написание игровых, документальных, презентационных, рекламных фильмов и телесериалов.</b></li>
	<li><b>Подбор профессиональных кадров для производства фильмов.</b></li>
	<li><b>Разработка бизнес плана для инвесторов.</b></li>
</ol>






<style type="text/css">
	ol {
		margin-bottom: 50px;
	}
	ol li {
		padding: 5px 10px;
		-webkit-transition: all .5s;
		   -moz-transition: all .5s;
		        transition: all .5s;
		border: 1px dashed #fff;
	}
	ol li:hover {
		background-color: #f5f5f5;
		border: 1px dashed #e5e5e5;
	}
</style>



