.content {
	font-family: 'Open Sans', sans-serif;
	min-height: 400px;
	width: 100%;
	margin-bottom: 100px;
	padding: 5px;
	overflow: hidden;
}
.last-event-container {
	position: relative;
	margin-bottom: 10px;
	height: 140px;
	padding: 5px;
	border: 1px dashed #e5e5e5;
	overflow: hidden;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.last-event-container:hover {
	background-color: rgba(52, 152, 219,.1);
	border: 1px dashed #c5c5c5;
}
.last-event-container > div {
	float: left;
	width: 85%;
	color: #000;
	-webkit-transition: color .4s ease;
	     -o-transition: color .4s ease;
	        transition: color .4s ease;
}
.last-event-container:hover > div:first-child {
	color: rgba(192, 57, 43,1.0);
}
.last-event-container > div:first-child {
	width: 15%;
	text-align: center;
	line-height: 120px;
	font-size: 110px;
}
.last-event-container .title {
	font-weight: 800;
	font-size: 16px;
	line-height: 22px;
	margin-bottom: 10px;
}
.last-event-container .text {
	min-height: 50px;
	font-size: 15px;
	line-height: 20px;
	height: 100px;
	padding-bottom: 10px;
}
.last-event-container .date {
	position: absolute;
	right: 1px;
	bottom: 0px;
	height: 20px;
	font-weight: 600;
}
.films-container {
	overflow: hidden;
}
.film-container {
	width: 100%;
}
.film {
	float: left;
	margin-bottom: 10px;
	/*height: 450px;*/
}
.film-inner {
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
	/*padding: 5px;*/
	background-color: rgba(52, 152, 219,.3);
	width: 100%;
	/*height: 100%;*/
	position: relative;
	box-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.film .photo {
	height: 300px;
	background-size: cover;
	background-position: center; 

}
.film .title {
	font-size: 15px;
	position: absolute;
	bottom: 0;
	width: 100%;
	left: 0px;
	color: rgba(255,255,255,0.7);
	text-align: right;
	background-color: rgba(0,0,0,.7);
	font-weight: 800;
	padding: 5px;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.border5 {
	position: absolute;
	top: -5px;
	left: 0;
	width: 100%;
	height: 5px;
	background-color: transparent;
	-webkit-transition: all .4s ease;
	     -o-transition: all .4s ease;
	        transition: all .4s ease;
}
.film:hover .border5 {
	background-color: #e74c3c;	
}
.film:hover .title {
	color: rgba(255,255,255,1);
}
.film .synopsis {
	font-size: 15px;
	height: 85px;
	overflow: hidden;
	line-height: 17px;
	padding: 0 5px;
}

.col-xs-12 {	
	padding-right: 0;
	padding-left: 0;
}

.loadMoreButton {
	clear: both;
	margin-top: 20px;
	padding: 20px;
	text-align: center;
}

.loadMoreButton > span {
	font-size: 20px;
	font-family: 'Open Sans';
	font-weight: 800;
	padding: 10px 20px;
	/*box-shadow: 0 1px 3px rgba(0,0,0,.3);*/
	background-color: #f5f5f5;
	-webkit-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
}
.loadMoreButton > span:hover {
	background-color: #e5e5e5;
}


@media (min-width: 768px) {
	.film:nth-child(even) {
		padding-left: 5px
	}
	.film:nth-child(2n+1) {
		padding-right: 5px
	}
	.last-event-container > div:first-child {
		font-size: 80px;
	}
}
@media (min-width: 992px) {
	.film:nth-child(3n+3) {
		padding-left: 10px;
		padding-right: 0px;
	}
	.film:nth-child(3n+2) {
		padding-left: 5px;
		padding-right: 0px;
	}
	.film:nth-child(3n+1) {
		padding-left: 0px;
		padding-right: 5px;
	}
	.last-event-container > div:first-child {
		font-size: 100px;
	}
}
@media (min-width: 1200px) {
	.film:nth-child(4n+1) {
		padding-left: 0px;
		padding-right: 5px;
	}
	.film:nth-child(4n+2), .film:nth-child(4n+3) {
		padding-left: 5px;
		padding-right: 5px;
	}
	.film:nth-child(4n+4) {
		padding-left: 5px;
		padding-right: 0px;
	} 
	.film {
		/*height: 400px;*/
	}
	.film .photo {
		height: 260px;
	}
	.last-event-container > div:first-child {
		font-size: 110px;
	}
}
